.heading-container {
    border-radius: 20px;
    padding: 20px;
    width: calc(100% - 40px);
    max-width: 700px;
    box-sizing: border-box;
    margin: 20px auto;
    text-align: center;
}

.heading {
    color: #3a5f7d;
    font-family: "Nanum Pen Script", sans-serif;
    font-size: 8em;
    text-shadow: 2px 2px #E0FBFC;
    margin: 0;
    padding: 0;
    height: 20px;
    display: inline-block;
    line-height: 1;
}

.descr {
    color: #3a5f7d;
    font-family: "Nanum Pen Script", serif;
    font-size: 2em;
    text-shadow: 2px 2px #E0FBFC;
    height: 40px;
    margin: 0;
    padding: 0;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-image: url("OceanBackground.jpg");
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: auto;
    margin-inline: 20em;
    margin-bottom: 10px;
}

.textbox {
    flex-grow: 1;
    background-color: #E0FBFC;
    color: #3a5f7d;
    padding: 10px 40px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    font-family: Tahoma, Verdana, sans-serif;
    outline: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 50px;
}

.submit {
    height: 70px;
    font-weight: bold;
    background-color: #3a5f7d;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 20px;
    color: #E0FBFC;
    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 0 20px;
}

.submit:hover {
    cursor: pointer;
    background-color: #293241;
}

.submit:active {
    opacity: 0.8;
}

.char-counter {
    text-align: center;
    color: #E0FBFC;
    font-family: "Nanum Pen Script", serif;
    font-size: 200%;
    margin-top: 0;
}

.box-of-messages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    max-width: 95%;
    margin: 20px auto;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
}

.message {
    min-width: 100px;
    max-width: 250px;
    padding: 15px;
    background-color: #E0FBFC;
    border-radius: 50px;
    border: 1px solid #3a5f7d;
    text-align: center;
    color: #3a5f7d;
    font-weight: 500;
    font-family: Tahoma, Verdana, sans-serif;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    display: inline-block;
    height: auto;
    overflow: hidden;
    animation: floatBubble 6s ease-in-out infinite;
}

.message:empty {
    padding: 50px;
}


/* Mobile devices */
@media screen and (max-width: 768px) { 
    .heading-container {
        border-radius: 10px;
        padding: 10px;
        width: calc(100% - 20px); 
        max-width: 100%; 
        margin: 10px auto;
    }

    .heading {
        font-size: 5em; 
        height: auto; 
    }

    .descr {
        font-size: 1.5em; 
        height: auto; 
    }

    .input-container {
        margin-inline: 1em; 
    }

    .textbox{
        height: auto; 
        padding: 15px; 
        font-weight: 400;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;

    }
    .submit {
        height: auto; 
        padding: 10px 25px; 
        font-weight: 400;
    }

    .submit {
        font-size: 18px;
    }

    .char-counter {
        font-size: 150%; 
    }

    .message {
        min-width: 80px; 
        max-width: 200px; 
        padding: 10px; 
        margin-top: 5px;
        font-size: 14px; 
    }
}

@keyframes floatBubble {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

